@font-face {
    font-family: YEKAN PLUS;
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/YEKAN PLUS.ttf');
    src: url('../public/fonts/YEKAN PLUS.ttf') format('truetype');
}